<VirtualHost *:80>

	# Adjust to taste:
	#
	# /usr/local/prettymaps-www/www
	# prettymaps.example.com
	# tilestache.localhost:9999

	ServerName prettymaps.example.com

	DocumentRoot /usr/local/prettymaps-www/www

	<Directory />
		Options FollowSymLinks
		AllowOverride None
	</Directory>

	<Directory /usr/local/prettymaps-www/www>
		Options FollowSymLinks Indexes
		AllowOverride All
		Require all granted		

		RewriteEngine	On
		RewriteRule	201008/tiles/([a-z\-]+)/([0-9]+)/([0-9]+)/([0-9]+).png		http://tilestache.localhost:9999/$1/$2/$3/$4.png		[P,L]
		RewriteRule	201008/tiles/([a-z\-]+)\.json/([0-9]+)/([0-9]+)/([0-9]+).json	http://tilestache.localhost:9999/$1.json/$2/$3/$4.json	[P,L]

	</Directory>

	ErrorLog ${APACHE_LOG_DIR}/error.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel warn

	CustomLog ${APACHE_LOG_DIR}/access.log combined

</VirtualHost>
